<ion-header>
  <ion-navbar>
    <ion-title>
      
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
	<ion-grid>
		<ion-row center text-center style="margin-bottom: 10%;">
			<ion-col text-center  col-10>
					<h6 ion-text text-center><ion-icon name="person"></ion-icon> {{user.firstName}} {{user.lastName}}</h6>
			</ion-col>
		</ion-row>
		<ion-row center style="margin-bottom: 5%;">
			<ion-col text-center  col-12>
				<ion-item center>
					<h6 ion-text><span style="color: #009688;"><ion-icon name="at"></ion-icon> Email:</span>  {{user.email}}</h6>
				</ion-item>
			</ion-col>
		</ion-row>	
		<ion-row center style="margin-bottom: 5%;">
			<ion-col text-center  col-12>
				<ion-item center>
					<h6 ion-text><span style="color: #009688;"><ion-icon name="call"></ion-icon> telephoone:</span> {{user.phone}}</h6>
				</ion-item>
			</ion-col>
		</ion-row>	
		<ion-row center style="margin-bottom: 5%;">
			<ion-col text-center  col-12>
				<ion-item center>
					<h6 ion-text><span style="color: #009688;"><ion-icon name="compass"></ion-icon> address:</span>{{user.address}}</h6>
				</ion-item>
			</ion-col>
		</ion-row>	
		<ion-row center style="margin-bottom: 5%;">
			<ion-col text-center  col-12>
				<ion-item center>
					<h6 ion-text><span style="color: #009688;"><ion-icon name="briefcase"></ion-icon > service:</span> {{user.service}}</h6>
				</ion-item>
			</ion-col>
		</ion-row>	

		
	</ion-grid>
</ion-content>
