<div class="row contact">
	<div class="col-10 offset-1">
		<div class="row  bg-light rounded">
			<div class="col-3 text-center text-success">
		<h6><i class="fas fa-user"></i></h6>
	</div>
	<div class="col-4 col-sm-6">
		<h6 class="text-capitalize">{{contact.firstName}} {{contact.lastName}}</h6>
	</div>
	<div class="col-1 text-center text-info">
		<h6 align-items-center><i class="fas fa-street-view" (click)='onView()'></i></h6>
	</div>
	<div class="col-1 text-center align-items-center text-warning">
		<h6><i class="fas fa-user-cog" (click)='onUpdate()'></i></h6>
	</div>
	<div class="col-1 text-center align-items-center text-danger" >
		<h6><i class="fas fa-user-times" (click)='onDelete()'></i></h6>
	</div>
		</div>
	</div>
	
</div>