 <h2 mat-dialog-title ><span class="text-success"><i class="fas fa-user-plus"></i> </span> Add Contact</h2>
 <mat-dialog-content> 
 	<form  [formGroup]='addContactForm' id="signUp" (ngSubmit)="onSubmitForm()">
			
  			<div class="form-group">
    			<input type="text" class="form-control"  formControlName='firstName' placeholder="Entrer votre nom">
  			</div>
  			<div class="form-group">
    			<input type="text" class="form-control"  formControlName='lastName' placeholder="Entrer votre prenom">
  			</div>
  			<div class="form-group">
    			<input type="text" class="form-control"  formControlName='phone' placeholder="Entrer votre numero">
  			</div>
  			<div class="form-group">
    			<input type="text" class="form-control"  formControlName='address' placeholder="Entrer votre address">
  			</div>
  			<div class="form-group">
    			<input type="text" class="form-control"  formControlName='service' placeholder="Entrer votre service">
  			</div>
  			<div class="form-group">
    			<input type="email" class="form-control"  formControlName='email' placeholder="Entrer votre Email">
  			</div>			
  			<button type="submit" class="btn btn-success btn-lg btn-block" [disabled]="addContactForm.invalid">Ajouter Contact</button>
		</form>
 </mat-dialog-content>
