 <h2 mat-dialog-title ><span class="text-info"><i class="fas fa-street-view"></i> </span> Consulter Contact</h2>
 <mat-dialog-content> 
 	
					<h5 class="text-capitalize">{{data.firstName}} {{data.lastName}}</h5>
					<h6><span class="text-success"><i class="fas fa-at"></i></span> {{data.email}}</h6>
					<h6><span class="text-success"><i class="fas fa-phone-square"></i></span> {{data.phone}}</h6>
					<h6><span class="text-success"><i class="fas fa-user-lock"></i></span> {{data.service}}</h6>
					<p><span class="text-success"><i class="fas fa-map-marker-alt"></i></span> {{data.address}}</p>


			
		
 </mat-dialog-content>
