.full{
	background-image: url("/assets/img/index1.jpeg"); /* The image used */
  	background-color: #cccccc; /* Used if the image is unavailable */
  	height: 100vh;
  	background-position: center; /* Center the image */
  	background-repeat: no-repeat; /* Do not repeat the image */
  	background-size: 100% 100%; 

}
h1{
	margin-bottom: 5vh;
}
#row{
	height: 100vh;
}
.input.transparent-input{
       background-color:rgba(0,0,0,0) ;
       border:none ;
   }