<div class="container-fluid  full ">

	<div class="row align-items-center" id="row">
		<div class="col-12">
			<div class="row text-center text-dark">
		<div class="col-12">
			<h1 *ngIf="state==1">Connexion :</h1>
			<h1 *ngIf="state==2">Inscription :</h1>
		</div>
	</div>
	<div class="row text-center">
		<div class="col-12 col-sm-6 offset-sm-3  ">
			<form *ngIf='state==1' [formGroup]='signInForm' (ngSubmit)="onSubmitForm()" >
  			<div class="form-group">
    			<input type="email" class="form-control"  formControlName='email' placeholder="Entrer votre Email">
  			</div>
  			<div class="form-group">
    		<input type="password" class="form-control"  formControlName='password' placeholder="mot de passe">
  			</div>
  			<button type="submit" class="btn btn-primary btn-lg btn-block" [disabled]="signInForm.invalid">connexion</button>
  			<div class="row">
  				<button class="btn btn-link text-white"  (click)="onSwitch()"> s'inscrire?</button>
  			</div>
  			
  		
  			
			</form>
		<form *ngIf='state==2' [formGroup]='signUpForm' id="signUp" (ngSubmit)="onSubmitForm()">
			
  			<div class="form-group">
    			<input type="text" class="form-control"  formControlName='firstName' placeholder="Entrer votre nom">
  			</div>
  			<div class="form-group">
    			<input type="text" class="form-control"  formControlName='lastName' placeholder="Entrer votre prenom">
  			</div>
  			<div class="form-group">
    			<input type="text" class="form-control"  formControlName='phone' placeholder="Entrer votre numero">
  			</div>
  			<div class="form-group">
    			<input type="text" class="form-control"  formControlName='address' placeholder="Entrer votre address">
  			</div>
  			<div class="form-group">
    			<input type="text" class="form-control"  formControlName='service' placeholder="Entrer votre service">
  			</div>
  			<div class="form-group">
    			<input type="email" class="form-control"  formControlName='email' placeholder="Entrer votre Email">
  			</div>
  			<div class="form-group">
    		<input type="password" class="form-control"  formControlName='password' placeholder="mot de passe">
  			</div>
  			
  			<button type="submit" class="btn btn-primary btn-lg btn-block" [disabled]="signUpForm.invalid">Inscription</button>
  			<div class="row">
  			
  				<button class=" btn btn-link text-white" (click)="onSwitch()">se connecter?</button>
  			</div>
  			
  		
  			
		</form>
		</div>
	</div>
		</div>
	</div>
	
</div>