<div class="container-fluid" >
	<div class="row " id="theBoard">
		<div class="col-3  bg-dark text-white">
			<div class="row " id="image">
				<div class="col-12 col-sm-8 offset-sm-2">
					<img src="/assets/img/user.png" alt="an icon representing the" class="rounded-circle" width="100%" height="100%">
				</div>
			</div>
			<div class="row" id="fullName">
				<div class="col-10 offset-1 text-center">
					<h5 class="text-capitalize">{{user.firstName}} {{user.lastName}}</h5>
				</div>
			</div>
			<div class="row">
				<div class="col-12 text-center" >
					<h6><span class="text-info"><i class="fas fa-at"></i></span> {{user.email}}</h6>
					<h6><span class="text-info"><i class="fas fa-phone-square"></i></span> {{user.phone}}</h6>
					<h6><span class="text-info"><i class="fas fa-user-lock"></i></span> {{user.service}}</h6>
					<p><span class="text-info"><i class="fas fa-map-marker-alt"></i></span> {{user.address}}</p>
					<button class="btn btn-link text-primary" (click)="onLogOut()"><i class="fas fa-sign-out-alt"></i></button>


				</div>
			</div>

		</div>
		<div class="col-9" id="dashboard">
			<div class="row title-menu">
						<div class="col-12 text-center" style="margin-top: 3vh;">
							<h1 class=" text-white rounded" > <span class="text-info"> <i class="fas fa-users"></i></span> Mes Contacts </h1>
						</div>

			</div>
			<div class="row">
				<div class="col-4 text-center addUser">
					<button class="btn btn-outline-success" (click)="onAddContact()"><h2><i class="fas fa-plus"></i> Add User</h2> </button>
				</div>
			</div>
			<div class="row contacts">
				<div class="col-12">
					<app-view-contact *ngFor='let contact of contacts' [contact]="contact"></app-view-contact>
					
					
				</div>
			</div>
					
				
			
		</div>
		
	</div>
</div>