#dashboard{
  	height: 100vh;
  	background-color: #BDBDBD;

}
#theBoard{
	height: 100vh;
}
#image{
	margin-bottom: 3vh;
	margin-top: 3vh;
}
#fullName{
	margin-bottom: 2vh;
}
h5,h6{
	overflow-wrap: break-word;
}
.contacts{
	height: 59vh;
	overflow-y: auto;


}
.title-menu{
	margin-bottom: 8vh;
}
.addUser{
	margin-bottom: 5vh;
}