<!--
  Generated template for the HomePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-buttons end>
    	<button ion-button (click)="onlogout()">
    		<ion-icon name="log-in" color='danger'></ion-icon>
    	</button>
    	
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-row>
  <ion-col col-12>
    
     <ion-item style="margin-bottom: 1%;">
              <ion-input type="text" class="form-control" [(ngModel)]="searchInput"   placeholder="saisissez votre recherche"  (ionChange)='search()'></ion-input>
     </ion-item>
   
 </ion-col>
  </ion-row>
	<ion-grid   > 
		<ion-row>
			<ion-col col-12>
				<ion-fab right >
   					<button ion-fab (click)='onAdd()'><ion-icon name="person-add"></ion-icon></button>
 				</ion-fab>
			</ion-col>
		</ion-row>
		<ion-row>
			<ion-list >
 				<ion-item-sliding  *ngFor="let contact of contacts;let i=index;">
 					<ion-item >{{contact.firstName}} {{contact.lastName}}</ion-item>
 					<ion-item-options side="right">
          <button ion-button  color="secondary" (click)='onDetails(contact)'>
          <ion-icon name="eye"></ion-icon>
          </button>
          <button ion-button  (click)='onUpdate(contact.id)'>
          <ion-icon name="construct"></ion-icon>
          </button>
 					<button ion-button  color='danger' (click)='onDelete(contact.id)'>
 					<ion-icon name="trash"></ion-icon>
 					</button>
          
 					
 					</ion-item-options>
 	</ion-item-sliding>
  <ion-item *ngIf="contacts.length==0">
    aucun cantact trouvé
  </ion-item>
 	
 	
 </ion-list>
		</ion-row>
	
 	</ion-grid>

</ion-content>
