<!--
  Generated template for the ContactInfosPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
   
  </ion-navbar>

</ion-header>


<ion-content padding>
	<ion-grid>
		<ion-row center text-center style="margin-bottom: 10%;">
			<ion-col text-center  col-10>
					<h6 ion-text text-center><ion-icon name="person"></ion-icon> {{contact.firstName}} {{contact.lastName}}</h6>
			</ion-col>
		</ion-row>
		<ion-row center style="margin-bottom: 5%;">
			<ion-col text-center  col-12>
				<ion-item center>
					<h6 ion-text><span style="color: #009688;"><ion-icon name="at"></ion-icon> Email:</span>  {{contact.email}}</h6>
				</ion-item>
			</ion-col>
		</ion-row>	
		<ion-row center style="margin-bottom: 5%;">
			<ion-col text-center  col-12>
				<ion-item center>
					<h6 ion-text><span style="color: #009688;"><ion-icon name="call"></ion-icon> telephoone:</span> {{contact.phone}}</h6>
				</ion-item>
			</ion-col>
		</ion-row>	
		<ion-row center style="margin-bottom: 5%;">
			<ion-col text-center  col-12>
				<ion-item center>
					<h6 ion-text><span style="color: #009688;"><ion-icon name="compass"></ion-icon> address:</span>{{contact.address}}</h6>
				</ion-item>
			</ion-col>
		</ion-row>	
		<ion-row center style="margin-bottom: 5%;">
			<ion-col text-center  col-12>
				<ion-item center>
					<h6 ion-text><span style="color: #009688;"><ion-icon name="briefcase"></ion-icon > service:</span> {{contact.service}}</h6>
				</ion-item>
			</ion-col>
		</ion-row>	

		
	</ion-grid>
</ion-content>
