
 <h6 mat-dialog-title><span class="text-danger"><i class="fas fa-user-times" ></i></span> Suprimmer Contact</h6>
  <mat-dialog-content>
  	<p>étes vous sur de suprimer ?</p>
  </mat-dialog-content>
 <mat-dialog-actions>
 	<span>
 	<button class="btn btn-danger "(click)="descision(true)">OUI</button>
    <button class="btn btn-info "(click)="descision(false)">NON</button>
    </span>
</mat-dialog-actions>
