<!--
  Generated template for the LoginSignupPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar hideBackButton>
   
  </ion-navbar>

</ion-header>


<ion-content padding  align-items-center>
	<ion-grid   > 
		<ion-row >
			<ion-col text-center col-12>

				<h6 *ngIf='isLogin' ion-text text-center ><ion-icon name="log-in" color="primary"></ion-icon> Connexion</h6>
				<h6 *ngIf='!isLogin' ion-text text-center><ion-icon name="contact"  color="primary"></ion-icon> Inscription</h6>
			</ion-col>
		</ion-row>
		<ion-row >
			<ion-col col-12  align-items-center>
				<form *ngIf='isLogin' [formGroup]='signInForm' (ngSubmit)="onSubmitForm()" >
					<ion-item style="margin-bottom: 5%;">

	    				<ion-input type="email"   formControlName='email' placeholder="Entrer votre Email" ></ion-input>
	  				</ion-item>
	  				<br>
	  				<ion-item style="margin-bottom: 5%;">
	  					<ion-input type="password" class="form-control"  formControlName='password' placeholder="mot de passe" ></ion-input>
	  				</ion-item>
	  				<br>
	  				<button ion-button round full  type="submit" [disabled]="signInForm.invalid" center>connexion</button>
	    			
				</form>
				<form *ngIf='!isLogin' [formGroup]='signUpForm' (ngSubmit)="onSubmitForm()" >
					<ion-item style="margin-bottom: 1%;">
	    				<ion-input type="text" class="form-control"  formControlName='firstName' placeholder="Entrer votre nom"></ion-input>
	  				</ion-item>
	  				<ion-item style="margin-bottom: 1%;">
	  					<ion-input type="text" class="form-control"  formControlName='lastName' placeholder="Entrer votre prenom"></ion-input>
	  				</ion-item>
	  				<ion-item style="margin-bottom: 1%;">
	  					<ion-input type="text" class="form-control"  formControlName='phone' placeholder="Entrer votre numero"></ion-input>
	  				</ion-item>
	  				<ion-item style="margin-bottom: 1%;">
	  					<ion-input type="text" class="form-control"  formControlName='address' placeholder="Entrer votre address"></ion-input>
	  				</ion-item>
	  				<ion-item style="margin-bottom: 1%;">
	  					<ion-input type="text" class="form-control"  formControlName='service' placeholder="Entrer votre service"></ion-input>
	  				</ion-item>
	  				<ion-item style="margin-bottom: 1%;">
	  					<ion-input type="email" class="form-control"  formControlName='email' placeholder="Entrer votre Email"></ion-input>
	  				</ion-item>
	  				<ion-item style="margin-bottom: 1%;">
	  					<ion-input type="password" class="form-control"  formControlName='password' placeholder="mot de passe,min:8"></ion-input>
	  				</ion-item>
	  				<button ion-button round full  type="submit" [disabled]="signUpForm.invalid" center>Inscription</button>
	    			
				</form>
			</ion-col>
		</ion-row>
		<ion-fab right bottom>
   		<button ion-fab color="danger" (click)='onSwitch()'><ion-icon name="arrow-forward"></ion-icon></button>
 		</ion-fab>
	</ion-grid>
	 

	
</ion-content>
